<h1 align="center" class="row">Listing all articles</h1>

<div align="center" class="row">
  <%= will_paginate %>
</div>
<%= render 'article', obj: @articles %>
<div align="center" class="row">
  <%= will_paginate %>
</div>