<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>About Us</title>
        <style>
            .container {
                width:80%;
                margin-left:auto;
                margin-right:auto;
                display: block;
            }
            header {
                text-align: center;
            }
            img {
                width: 100%;
                height: auto;
            }
            .col-4 {
                width: 33%;
                display: inline-block;
                float: left
            }
            .card {
                padding: 5%; 
                margin: 2%; 
                border: 1px solid #efefef; 
                box-shadow: 0px 5px 5px -5px rgba(0,0,0,.3);
            }
        </style>
    </head>
</html>
<body>
    <div class="container">
        <header>
            <h1>About Us</h1>
            <h3>My dog is the cutest gosh darn thing on the planet</h3>
            <%= link_to 'Home', root_path %>
            <%= link_to 'About', about_path %>
        </header>
        <section>
            <div class="card">
                <h2>Here is a little about us</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                </p>
            </div>
        </section>
    </div>